/* CSS files add styling rules to your content */

body {
  font-family: 'Overpass Mono', helvetica, arial, sans-serif;
  margin: 2vh;
  height: 96vh;
  overflow: hidden;
}

#meet { 
  width: 70vw;
  height: 600px;
  margin: 10em auto;
  display: block;
  box-shadow: 0 0 10em pink;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  color: white;
  display: none;
  z-index: 3;
}

#ytPlayer {
  width: 100%;
  height: 120%;
  z-index: 10;
  position: absolute;
  top: -10%;
  left: 0;
}

#pause-timer {
  color: rgba(255, 255, 255, 1.0);
  font-size: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#notif-holder {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 1;
  font-size: 12em;
  text-align: center;
  display: none;
  pointer-events: none;
}

#notif {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(107, 0, 0, 0.5);
  height: 100%;
}


#guide-controls {
  display: none;
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 5;
  width: 20vw;
}

#next {
  background:black;
  color: white;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid black;
}

.guide-button {
  margin: 1em 0 0.5em 0;
}

#text {
  margin-top: 2em;
}

#next-prompt {
  width: 100%;
  font-style: italic;
  color: pink;
}

textarea {
  width: 96%;
  padding: 2%;
  outline: none;
  border: 1px solid black;
}

label {
  display: block;
}

#form {
  margin-top: 2em;
  /* display: none; */
}

/* REGISTRATION */
.option {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  padding: 1vh;
  cursor: pointer;
}

.option:hover, .selected-option {
  background: black;
  color: white;
}

input {
  display: block;
}

.confirm-piece {
  display: block;
  font-weight: bold;
}

