/* CSS files add styling rules to your content */

body {
  font-family: 'Overpass Mono', helvetica, arial, sans-serif;
  margin: 2vh;
  height: 96vh;
}

#meet { 
  width: 70vw;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 0 50px pink;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(107, 0, 0, 0.9);
  display: none;
  z-index: 3;
}

#timer {
  color: rgba(255, 255, 255, 0.2);
  font-size: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#notif-holder {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 1;
  font-size: 12em;
  text-align: center;
  display: none;
  pointer-events: none;
}

#notif {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(107, 0, 0, 0.5);
  height: 100%;
}

#prompt-holder, #pause-holder {
  position: absolute;
  left: 20%;
  bottom: 5em;
  z-index: 2;
  /* display: none; */
  color: white;
  background:rgba(107, 0, 0, 0.9);
  padding: 1.25em 1.75em 1.25em 1.25em;
  display: none;
}

#guide-controls {
  display: none;
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 5;
  width: 20vw;
}

#guide {
  width: 100%;
  height: 5vw;
  font-family: 'Overpass Mono', helvetica, arial, sans-serif;
  font-size: 1em;
}

#speak-guide {
  font-family: 'Overpass Mono', helvetica, arial, sans-serif;
  font-size: 1em;
}

/* REGISTRATION */
.option {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  padding: 1vh;
  cursor: pointer;
}

.option:hover, .selected-option {
  background: black;
  color: white;
}

input {
  display: block;
}

.confirm-piece {
  display: block;
  font-weight: bold;
}

